#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button {
  background-color: lightskyblue;
  align-self: center;
}

.button:hover {
  background-color: lightseagreen;
}

.button:disabled {
  background-color: gray;
  pointer-events: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.success-msg {
  color: lightgreen
}